@{
    Layout = null;
}
<div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Você ainda não preencheu os paramêtros! Por favor, preencha os paramêtros.</strong>
</div>