@{
    Layout = "_Layout.cshtml";
}
<div class="fixed-action-btn" data-toggle="float">
    <a href="javascript:void(0)" class="btn btn-warning btn-fab">
        <i class="material-icons">reorder</i>
        <div class="ripple-container"></div>
    </a>
    <ul>
        @RenderSection("opcoes", false)
       
        <li>
            <a class="btn-floating" title="Voltar" onclick="window.history.back();">
                <i class="glyphicon glyphicon-menu-left" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="btn-floating" title="Home" href="@Url.Action("Index", "Home")">
                <i class="material-icons">home</i>
            </a>
        </li>

    </ul>
</div>

@RenderBody()

@section scriptsPai
{
    @RenderSection("scripts", required: false)
}
