@model EstatisticaFatec.Core.Models.MedidasDispersao.MedidasDispersaoEntity

<div class="well bs-component">
    <fieldset>
        <legend> Medidas de Dispersão</legend>
        <div class="form-group">

            <label class="col-md-1 control-label">Variância</label>
            <div class="col-md-1">
                <input class="form-control" readonly="" value="@Model.Variancia">
            </div>

            <label class="col-md-offset-2 col-md-2 control-label">Desvio Padrão</label>
            <div class="col-md-1">
                <input class="form-control" readonly="" value="@Model.DP">
            </div>

            <label class="col-md-offset-2 col-md-2 control-label">Coeficiente da variação</label>
            <div class="col-md-1">
                <input class="form-control" readonly="" value="@Model.CV%">
            </div>

        </div>
    </fieldset>
</div>