<!-- Modal -->
<div id="modalMedidasDispersao" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Entendendo as etapas</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <legend>Variância</legend>

                    <p>
                        <code>∑XI.FI: É a soma de todos os elementos da coluna.</code>
                    </p>
                    <p>
                        <code>N: É a quantidade de linhas.</code>
                    </p>

                    <p>
                        <code>(∑XI – <span style="text-decoration-line: overline;">X</span>) ² / N - 1</code>
                    </p>
                    <p>
                        <code>30 / 4 - 1</code>
                    </p>
                    <p>
                        <code>Variância: 10</code>
                    </p>


                    <legend>Desvio Padrão</legend>
                    <p>
                        <code>√Variância</code>
                    </p>
                    <p>
                        <code>Desvio Padrão: 3,16 </code>
                    </p>

                    <legend>Coeficiente da variação</legend>
                    <p>
                        <code>(DP /<span style="text-decoration-line: overline;">X</span>* 100 <span></span> </code>
                    </p>
                    <p>
                        <code>Coeficiente da variação: 3,16/6 * 100 = 53% <span></span> </code>
                    </p>

                </fieldset>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>