<!-- Modal -->
<div id="modalTendenciaCentral" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Entendendo as etapas</h4>
            </div>
            <div class="modal-body">
            <fieldset>
            

            <legend> Média Aritmética</legend>
            <img style="width: 100%;" class="img-rounded img-responsive" src="~/Content/img/medidasTendencia/media.jpg"/>
            <p><code><span style="text-decoration-line: overline;">X</span>: É a média do cálculo dos números abaixo.</code>
            </p>
            <p><code>∑XI.FI: É a soma de todos os elementos da coluna.</code>
            </p>
            <p><code>∑FI: É a soma de todos os elementos da coluna.</code>
            </p>


            <legend>Moda</legend>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <blockquote class="small">São os números que aparecem com maior frequência.</blockquote>
                    </p>
                    <p>
                        <code>Ex: 1,1,1,2,3,4,5,6.</code>
                    </p>
                    <p>
                        <code>Moda: 1 [Aparece 3x]</code>
                    </p>
                </div>
                <div class="col-md-6">
                    <span class="badge">Cálculo com Varíavel Contínua</span>

                    <table class="table table-striped table-hover table-condensed small">
                        <thead>
                        <tr>
                            <th title="Classes">4 Classe(s)</th>
                            <th title="Frequência simples | Total: 20">[FI] </th>
                            <th title="XI">[XI]</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>4</td>
                            <td>24</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>4</td>
                            <td>32</td>
                        </tr>
                        <tr style="color: red" title="É aqui a resposta">
                            <td><strong>3</strong></td>
                            <td><strong>9</strong></td>
                            <td><strong>40</strong></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>3</td>
                            <td>48</td>
                        </tr>
                        </tbody>
                    </table>
                    <p><code>Procuramos a classe de maior frequência [FI] [9]</code>
                    </p>
                    <p><code>Desta classe [3] procuramos o valor de [XI] [4]</code>
                    </p>
                    <p><code>Seguindo assim a moda é de: [40]</code>
                    </p>

                </div>
            </div>


            <legend>Mediana</legend>

            <div class="col-md-6">
                <strong>Se ∑FI for par?</strong>
                <p>
                    <blockquote class="small">
                        Se ∑FI for par a Mediana admite duas posições centrais:

                    </blockquote>
                </p>
                <p>
                    <code>
                        Fórmula: (∑FI/2) + (∑FI/2) +1
                    </code>
                </p>
                <strong>Se ∑FI for ímpar?</strong>
                <p>

                    <blockquote class="small">
                        Se EFI for ímpar a Mediana admite uma única posição central:
                    </blockquote>
                </p>
                <code>
                    Fórmula:(EFI + 1) /2
                </code>

            </div>

            <div class="col-md-6">
                <span class="badge">Cálculo com Varíavel Contínua</span>

                <blockquote class="small">
                    <p>Classe da mediana se localiza na posição <code>∑FI/2</code>
                    </p>
                    <p>Assim descobrimos a posição</p>
                </blockquote>

                <table class="table table-striped table-hover small table-condensed">
                    <thead>
                    <tr>
                        <th title="Classes">4 Classe(s)</th>
                        <th title="De x até y">Range de 8</th>
                        <th title="Frequência simples | Total: 20">[FI] </th>
                        <th title="Frequência relativa percentual | Total: 100,00 ">[FE%] </th>
                        <th title="Frequência Acumulada">[F]</th>
                        <th title="Frequência Acumulada porcentual">[F%]</th>
                        <th title="XI">[XI]</th>
                        <th title="Média | Total: 728">[XI * FI] </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>20|-------28</td>
                        <td>4</td>
                        <td>20,0%</td>
                        <td>4</td>
                        <td>20,0%</td>
                        <td>24</td>
                        <td>96</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>28|-------36</td>
                        <td>4</td>
                        <td>20,0%</td>
                        <td>8</td>
                        <td>40,0%</td>
                        <td>32</td>
                        <td>128</td>
                    </tr>
                    <tr style="color: red" title="É aqui a resposta">
                        <td>3</td>
                        <td>36|-------44</td>
                        <td>9</td>
                        <td>45,00%</td>
                        <td>17</td>
                        <td>85,00%</td>
                        <td>40</td>
                        <td>360</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>44|-------52</td>
                        <td>3</td>
                        <td>15,00%</td>
                        <td>20</td>
                        <td>100,00%</td>
                        <td>48</td>
                        <td>144</td>
                    </tr>
                    </tbody>
                </table>

                <p>
                    <blockquote class="small">
                        Devemos então descobrir qual é a classe, sendo assim pegamos a fórmua
                    </blockquote>
                </p>
                <p>
                    <code>
                        EFI/2 = 20/2 = 10ª Posição = 3ª classe
                    </code>
                </p>

                <p>
                    <blockquote class="small">
                        Agora segue a legenda da fórmula estabelecida.
                    </blockquote>
                </p>
                <p>
                    <code>
                        I = Limite inferior da classe da ordem.
                    </code>
                </p>
                <p>
                    <code>
                        Fant = F anterior ao da classe Mediana
                    </code>
                </p>
                <p>
                    <code>
                        H = Intervalo da classe
                    </code>
                </p>
                <p>
                    <code>
                        Find = FI da classe da MD
                    </code>
                </p>

                <p>
                    <blockquote class="small">
                        Agora a fórmula.
                    </blockquote>
                </p>
                <p>
                    <code>
                        I + ((((EFI /2 ) - Fant ) / FIND) * H )
                    </code>
                </p>
                <p>
                    <code>
                        Resultado: 36 + ((((20 /2 ) - 8 ) / 9) * 8 )
                    </code>
                </p>


            </div>



            </fieldset>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>