@using EstatisticaFatec.Helper
@model EstatisticaFatec.Core.Models.MedidasDispersao.MedidasDispersaoContainerEntity

@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

@if (Model.InputValue.Any() == false)
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Você ainda não preencheu os paramêtros! Por favor, preencha os paramêtros.</strong>
    </div>
}

<div class="well bs-component">
    <fieldset>
        <legend>Aleatória Simples</legend>
        <div class="form-group">


            <div class="col-xs-12">
                <blockquote class="small">
                    Uma amostra aleatória simples é usar um subconjunto de indivíduos (amostra) apartir de um conjunto maior (população) por um processo que garanta que
                    <ul>
                        <li>
                            Todos os indivíduos da população têm a mesma probabilidade de ser escolhidos para a amostra;
                        </li>
                    </ul>
                    <small class="pull-right">
                        Sorteamos uma quantidade de números X [AMOSTRA] entre um total de população de Y [POPULAÇÃO]
                    </small>

                </blockquote>
            </div>
        </div>
    </fieldset>
</div>

<form method="POST" action="@Url.Action("Index")">
    @Html.Partial("_Input")
</form>

@if (Model.InputValue.Any())
{
    @Html.Partial("_MedidasDispersao", Model.MedidasDispersaoEntity)

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
}