@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Distribuição Menor</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">O que é?</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item">
                <div class="row-action-primary" data-toggle="tooltip" title="Clique aqui para mais informações">
                    <i class="material-icons informacao info" data-toggle="modal" data-target="#myModal">info</i>
                </div>
                <div class="row-content">
                    <p class="list-group-item-text">
                        Uma amostra aleatória simples é um subconjunto de indivíduos (a amostra) seleccionado totalmente ao acaso a partir de um conjunto maior (a população) por um processo que garanta que:
                        <ul>
                            <li>
                                Todos os indivíduos da população têm a mesma probabilidade de ser escolhidos para a amostra; e
                            </li>
                            <li>
                                Cada subconjunto possível de indivíduos (amostra) tem a mesma probabilidade de ser escolhido que qualquer outro subconjunto de indivíduos.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@*@if (Model.Resultados.Any() == false)
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Você ainda não preencheu os paramêtros! Por favor, preencha os paramêtros.</strong>
    </div>
}*@

<div class="well bs-component">
    <form class="form-horizontal" method="post" action="@Url.Action("Index")">
        <fieldset>
            <legend>Parametrização</legend>

            <div class="form-group">
              
                  <label class="col-md-2 control-label">Média Ponderada</label>

                <div class="col-md-4">
                    <input class="form-control" required placeholder="" name="media" type="number">
                </div>

                <label class="col-md-2 control-label">Desvio Padrão</label>

                <div class="col-md-4">
                    <input class="form-control" required placeholder="" name="desvio" type="number">
                </div>

                <label class="col-md-2 control-label">Valor</label>

                <div class="col-md-4">
                    <input class="form-control" required placeholder="" name="valor" type="number">
                </div>

                <hr />

                <label class="col-md-2 control-label">Números sorteados</label>

                <div class="col-md-10">
                    
                </div>
            </div>

            <div class="col-md-10 col-md-offset-2">
                <a href="@Url.Action("Index","Home")" class="btn btn-default">Voltar</a>
                <button type="reset" class="btn btn-danger">Limpar</button>
                <button type="submit" class="btn btn-primary">Enviar<div class="ripple-container"></div></button>
            </div>
        </fieldset>
    </form>
</div>